# Binaries
/main
douyinLive
*.exe
*.zip
*.7z
*.tar.gz

# IDE
.idea
.vscode
/.vscode
*.swp
*.swo
*~
.DS_Store

# Build
/build/
/dist/
/release/
/cmd/main/build-*

# Protobuf
/protobuf/*.zip

# Config
config.yaml
config*.local.yaml

# Logs
*.log

# Go
*.test
*.out